* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #8a8c8e;
	margin: 0 auto;
	text-align: center;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Droid Sans', sans-serif;
	background: #eee url("img/1.jpg") no-repeat;
	background-size: cover;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
	color: steelblue;
}

a:hover {
	color: #d66006;
}

header {
	height: 50px;
	width: 100vw;
	top: 0;
	position: fixed;
	color: floralwhite;
	background-color: steelblue;
	border-bottom: 3px solid #0a023a;
}

header a {
	color: floralwhite;
	cursor: pointer;
}

header > div, .content > div {
	display: inline-block;
}

.logo {
	position: absolute;
	top: 15px;
	left: 5vw;
	text-align: left;
}

.links {
	position: absolute;
	top: 15px;
	right: 5vw;
	text-align: right;
}

.init {
	font-family: 'Niconne', cursive;
	color: floralwhite;
}

.links ul, header > div ul, .content ul {
	list-style: none;
}

.links ul li, header > div ul li, .content ul li {
	display: inline-block;
}

.links ul li {
	margin-left: 10px;
}

main {
	margin: 0 auto;
	margin-top: 12vh;
	margin-bottom: 2.5vh;
}

.content-wrapper {
	width: 90vw;
	height: 85vh;
	margin-top: 2.5vh;
	margin-left: 5vw;
	margin-right: 5vw;
	background: rgba(200, 200, 200, 0.6);
}

.tagline {
	color: steelblue;
	padding-top: 5vh;
	padding-bottom: 2vh;
}

.content {
	margin: 2vh auto;
	padding-top: 3vh;
}

.bubble {
	height: 18vw;
	width: 18vw;
	border: 5px solid #caccce;
	border-radius: 100%;
	margin-left: 3vw;
	margin-right: 3vw;
	padding-top: 2vw;
	text-align: center;
	background-color: orange;
	color: steelblue;
}

.bubble:hover {
	height: 23vw;
	width: 23vw;
	padding-top: 0;
	cursor: pointer;
}

.bubble-title {
	height: 5vh;
}

.opaque {
	height: 22.6vw;
	width: 22.6vw;
	border-radius: 100%;
	margin: 0 auto;
	background: rgba(255,255,255,0.5);
}

#bio {
	background: url("img/me.jpg") no-repeat center;
	background-size: cover;
}

#projects, #mood {
	background: url("img/mood.png") no-repeat center;
	background-size: cover;
}

.section {
	margin-bottom: 10px;
}

.section#last-child {
	margin-bottom: 50px;
}

.rails, .mean, .final {
	height: 20vh;
	margin-top: 1vh;
	margin-left: 1vw;
}

.rails img, .final img {
	height: 17vh;
	float: right;
	margin-right: 2vw;
}

.mean img {
	height: 17vh;
	float: left;
	margin-left: 2vw;
}

.burger {
	display: inline-block;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	position: absolute;
	top: 15px;
	right: 20px;
}

.burger:hover {
	cursor: pointer;
}

#intro {
	height: 100vh;
	width: 75vw;
	padding-top: 25vh;
	background-color: steelblue;
	border: 2px solid #02183a;
	color: #eee;
	margin-top: 0;
}

#intro img {
	width: 25%;
	float: left;
	margin-left: 20px;
	border-radius: 20%;
}

div.show {
	border: 1px solid grey;
	border-radius: 20%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: relative;
	top: 0;
	left: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 90vw;
	height: 10vh;
	margin: 0 auto;
	padding-bottom: 2vh;
	padding-top: 2vh;
	z-index: 1;
	text-align: center;
	color: #5b5c5e;
}

@media (min-width: 620px) {
	.burger {
		display: none;
	}
}

.logo-square {
	margin-top: 8px;
	height: 40px;
	width: 40px;
	border-radius: 2%;
	border: 2px solid green;
	background-color: steelblue;
	transform: rotate(45deg);
}

.logo-square:hover {
	border: 2px solid steelblue;
	background-color: green;
}

.logo-circle {
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 100%;
	border: 2px solid green;
	background-color: #111;
	color: floralwhite;
	transform: rotate(-45deg);
	font-family: 'Niconne', cursive;
}

.logo-circle:hover {
	border: 2px solid steelblue;
}


/*media queries, currently desktop first; refactor to mobile first*/
@media (max-width: 620px) {
	header {
		width: 100%;
		top: 0;
		height: 50px;
		border-bottom: 2px solid steelblue;
	}

	.menu {
		margin-top: 6px;
	}

	.logo > div {
		display: inline-block;
		padding-right: 20px;
	}

	.links.closed {
		position: absolute;
		right: -200px;
		transition: right 1s;
	}

	.links {
		width: 150px;
		background-color: steelblue;
		position: absolute;
		top: 50px;
		right: -2px;
		transition: right 1s;
		z-index: 1;
	}

	.links ul li {
		display: block;
		border-bottom: 1px solid grey;
	}

	main {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
	}
}